table,tr,td
{
border:2px solid black;
border-collapse: collapse;
background-color:rgb(252, 221, 252);
color: blue;
text-align: center;
margin-left: 220px;
margin-top: 150px;   
font-size: large;
width: auto !important;
}
th{
    border:2px solid black;
    border-collapse: collapse;
color: black;
text-align: center;
height:40px;
width:auto !important;
}
